<html>

<head>

    <style>
        @import url('font.css');
 * {
     cursor: default;
 }
        body {
            background-color: #242628;
            color: #ffffff;
            font-family: 'Palanquin', sans-serif;
            -webkit-user-select: none;
            -webkit-app-region: drag;
            font: caption;
        }


    </style>

</head>

<body>
    <img src='./app_logo1.png' />
    <h1>Analytics Alerting Engine</h1>
    <h4>"I Don't Wanna miss a thing." - <i>Aerosmith</i></h4>
</body>

</html>