<html>

<head>

    <style>
        @import url('font.css');
 * {
     cursor: default;
 }
        body {
            background-color: #242628;
            color: #ffffff;
            font-family: 'Palanquin', sans-serif;
            -webkit-user-select: none;
            -webkit-app-region: drag;
            font: caption;
        }


    </style>

</head>

<body>
    <img src='../public/app_logo1.png' />
    <h1></h1>Login to Qlik Sense desktop!</h1>
    <h4>You need to login to Qlik Sense Desktop to use w0w.</h4>
    <button>Retry</button>
</body>

</html>