<html>

<head>
    <link rel="stylesheet" type="text/css" href="../public/global.css">
    <style>
        @import url('../public/font.css');
        * {
            cursor: default;
        }

        body {
            background-color: var(--brand-color3);
            color: var(--brand-color2);


        }
    </style>
    <link rel="stylesheet" type="text/css" href="../public/global.css">
    <link rel="stylesheet" href="../public/bulma.min.css">
    <script defer src="../public/font-awesome-all.js"></script>
</head>
<style>
    .centered {
        position: absolute;
        top: 136px;
        left: 136px;
    }

    .error {
        color: red;
    }
</style>

<body>

    <section class="hero is-info is-small is-bold">
        <div class="hero-body">
            <div class="container">
                <img src='../public/nestegg3-white64x64.png' />
                <h1 class="title">
                    Login
                </h1>
                <h2 class="subtitle">
                    Welcome back.
                </h2>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container ">
            <form id="login_form" name="login">
                <!--
                <div class="notification">
                        This container is <strong>centered</strong> on desktop.
                      </div>-->
                <article class="message is-danger">
                    <div class="message-body" id="submiterror">
                    </div>
                </article>


                <div class="field">
                    <div class="control has-icons-left has-icons-right">
                        <input class="input form-control" required type="email" name="email" id="email" placeholder="Email Address">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <!--
                    <span class="icon is-small is-right">
                        <i class="fas fa-exclamation-triangle"></i>
                    </span>-->
                    </div>
                    <!--<p class="help is-danger">This email is invalid</p>-->
                </div>



                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input form-control" required type="password" id="password" name="password" placeholder="Password">
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </p>
                </div>

                <!--
            <div class="field">

                <p class="control has-icons-left">
                    <input class="input" type="tel" placeholder="Phone">
                    <span class="icon is-small is-left">
                        <i class="fas fa-phone"></i>
                    </span>
                </p>
            </div>-->


                <div class="field is-grouped">

                    <div class="control">
                        <button id="login_button" class="button is-link is-success">Login</button>

                    </div>
                    <div class="control">
                        <a href="register.html" class="button is-text">Register</a>
                    </div>

                </div>
                <a href=''>Forgot Password?</a>
            </form>
        </div>
    </section>

    <script>window.$ = window.jQuery = require('jquery');</script>
    <script defer src="../public/jquery.validate.min.js"></script>

    <script>

        require('../renderers/authRenderer.js');
    </script>


</body>

</html>