<html>

<head>
        <link rel="stylesheet" type="text/css" href="../public/global.css">
    <style>
        @import url('../public/font.css');
 * {
     cursor: default;
 }
        body {
            background-color: var(--brand-color3);
            color: var(--brand-color2);
        }


    </style>
    <link rel="stylesheet" type="text/css" href="../public/global.css">
    <link rel="stylesheet" href="../public/bulma.min.css">
    <script defer src="../public/font-awesome-all.js"></script>
</head>
<style>

.centered {
    position: absolute;
    top: 136px;
    left: 136px;
}

</style>
<body>

    <div class="container">
            <img class='centered' src='../public/nestegg-text.png_128x128.png' />
          </div>
          <section class="section">
        <div class="container">
          <div class="content has-text-centered">
            <p style='color: white;'>
                    <h4>Please connect to the internet.</h4>
            </p>
          </div>
        </div>
    </section>
<script>window.$ = window.jQuery = require('jquery');</script>
<script>

        require('../renderers/globalRenderer.js');
      </script>
</body>

</html>





