
        :root {

            --brand-color1: #11151C;
            --brand-color2: #D3CDD0;
            --brand-color3: #212D40;
            --brand-color4: #364156;
            --brand-color5: #D66853;

        }