<html>

<head>
        <link rel="stylesheet" type="text/css" href="../public/global.css">
    <style>
        @import url('../public/font.css');
 * {
     cursor: default;
 }
        body {
            background-color: var(--brand-color3);
            color: var(--brand-color2);
            font-family: 'Palanquin', sans-serif;
            -webkit-user-select: none;
            -webkit-app-region: drag;
            font: caption;
        }


    </style>

</head>

<body>
    <img style="height: 100px;" src='../public/app_logo1.png' /> +
    <img  style="height: 100px;"  src='../public/mochalogo.svg' />
    <h1>Mocha Testing Engine for Qlik Sense</h1>
    <h4>"I Don't Wanna miss a thing." - <i>Aerosmith</i></h4>
</body>

</html>